<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>!</p>
      <% todos.forEach( (t, idx) => { %>
        <li>
          <form id="delete-form" action="/todos/<%= idx %>?_method=DELETE" method="post">
            <button type="submit">X</button>
          </form>

          <a href="/todos/<%= idx %>"><%= t.todo %></a>
        </li>
      <% }); %>
    </ul>

  <a href="/todos/new">Add To-Do Item</a>


  </body>
</html>
